@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


html, body{
    height: 100%;
    font-family: Pretendard;
    background:  linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1)), linear-gradient(-45deg,#fff 50%,#eee 0) 0/20px 20px;
}
h1{
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    transform: rotate(-2deg);
    background: rgba(255, 255, 0, .5);
}
main{
    padding: 10px;
}

article{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background: rgba(255, 255, 255, .8);
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin-bottom: 10px;
}
article h2{
    font-weight: 400;
    padding: 10px;
    background: linear-gradient(45deg, #ffe, transparent);

}

ol li{
    margin-bottom: 10px;
}
ol li:nth-of-type{
    margin-bottom: 0;
}
ol li *{
    vertical-align: top;
}
ol li input{
    /* flex: 1; */
    width: 320px;
    height: 32px;
    background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
ol li button{
    width: 40px;
    height: 32px;
    background: powderblue;
    border: 0;
    border-radius: 5px;
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
ol li button[data-id="removeTeam"]{
    background: pink;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.btns button{
    width: 120px;
    height: 32px;
    background: #5c705c;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    border: 0;
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
}
.group-list, .vs-list{
    display: flex;
}
.group-list > fieldset, .vs-list > fieldset{
    margin-right: 10px;
    width: 100%;
    border: 0;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .8);
    border-radius: 5px;
    padding: 5px;
}
.group-list > fieldset:last-of-type,
.vs-list > fieldset:last-of-type{
    margin-right: 0;
}
.group-list li{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}
.group-list li strong{
    margin-right: 5px;
}
.group-list li span{
    font-size: 14px;
}
legend{
    padding: 0 10px;
    background: #fff;
    font-size: 36px;
    display: flex;
    align-items: center;
}
legend strong{
    font-size: 14px;
    margin-left: 5px;
}
ul{
    margin: 0;
    padding: 10px;
    list-style: none;
}
li{
    font-size: 20px;
}

.vs-list ul{
    list-style: none;
    padding: 0;
}
.vs-list li{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}
.vs-list li:last-of-type{
    margin-bottom: 0;
}
.vs-list li *{
    cursor: pointer;
    padding: 3px;
    width: 100%;
    text-align: center;
}
.vs-list li span{
    font-size: 12px;
}
.vs-list li.ing{
    background: #ace;
}
.vs-list li .win{
    background: rgba(255, 255, 0, .8);
    box-shadow: 0 0 8px #ff0;
}
